* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.header {
  background-color: #d9d2f6;
  padding: 1%;
}

h1,
h2,
h3,
h4 {
  font-family: "Architects Daughter", cursive;
}

p {
  font-family: "Noto Sans JP", sans-serif;
}

.header h3,
h4 {
  font-weight: lighter;
  margin-bottom: 10px;
}

.details {
  color: #30dda8;
  border: 2px dotted white;
  border-radius: 50%;
  padding: 0.4%;
  font-weight: bold;
  font-size: 32px;
}

.footer {
  background-color: #d9d2f6;
  padding: 2%;
  border-top: 1px solid white;
}

.arrow {
  font-weight: bolder;
  color: #ffa500;
  border: 5px solid #ffa500;
  border-radius: 50%;
  text-align: right;
  position: fixed;
  bottom: 30px;
  right: 100px;
}

.card {
  max-width: 60%;
  margin: 5% auto;
  border: none;
  padding: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.info {
  text-align: left;
  font-weight: lighter;
  font-size: 20px;
}

.info p {
  color: #616161;
  line-height: 1.5;
}

.card img {
  height: 300px;
  width: 300px;
  transition: transform 0.3s;
  text-align: center;
  border-radius: 50%;
}
.card img:hover {
  transform: scale(1.2);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 1% auto;
}

.tag {
  color: #283747;
  border: 1px solid #616161;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.tag:hover {
  color: #fff;
  background-color: #616161;
}
